<%= turbo_frame_tag "chatroom_show" do %>
  <h4 class="title-conversations"><%= @chatroom.name %></h4>

  <div class="messages-container">
    <div class="messages" id="messages">
      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message, user: current_user %>
      <% end %>
    </div>

    <div class="form-messages-container">
      <%= simple_form_for [@chatroom, @message],
          html: { class: 'form-messages',
                  data: { controller: 'form',
                          action: "turbo:submit-end->form#resetForm" } } do |f| %>
        <%= f.input :content,
                    label: false,
                    placeholder: "Message ##{@chatroom.name}",
                    wrapper_html: { class: "wrapper-input" },
                    input_html: { class: 'input-msg' } %>
        <%= f.submit "Send", class: "btn btn-send" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= console %>
